@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-white dark:bg-black font-inter
}

@media (min-width:640px)  {

  .card-styled:nth-child(2n-2){
    position: relative;
    top: 94px;
  }
}

#pagination-scroll-anchor:target {
  scroll-margin-top: 85px;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
      @apply text-black dark:text-white !font-inter font-bold text-[#253143]
  }
  h1 {
    @apply text-[52px] leading-[54px]
  }
  h2 {
    @apply text-[44px] leading-[45px]
  }
  h3 {
    @apply text-[24px] leading-[26px]
  }
  p {
    @apply font-normal text-gray-900 dark:text-white !leading-5
  }


}

@layer components {
  .container {
    @apply relative max-w-7xl mx-auto;
  }
  .btnPrimary {
    @apply !font-inter rounded-md bg-purple text-sm font-semibold text-white shadow-sm hover:bg-[#3C2970] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple
  }
  .btnSecondary {
    @apply !font-inter block w-full rounded-md border border-transparent bg-white !text-black text-base font-semibold text-gray-900 duration-300
  }
  .btnSecondary:hover{
    @apply bg-black !text-white
  }
  .btnTertiary {
    @apply block w-full rounded-md border border-transparent bg-black !text-white text-base font-semibold text-gray-100 hover:opacity-80
  }
  .text h2 {
    @apply text-[44px] font-bold dark:text-white py-3
  }
  .text h3 {
    @apply font-bold text-2xl leading-[26px] text-[#253143] dark:text-white py-4
  }
  .text h5 {
    @apply font-bold text-purple text-lg leading-7
  }  
  .text h6{
    @apply text-lg text-[#5B6B86] font-normal leading-7 dark:text-white py-2
  }
  .text ul { @apply list-disc py-1 px-6 }

  .text ol { @apply list-decimal py-1 px-6 }

  .text li {
    @apply text-lg text-[16px] text-[#253143] dark:text-white leading-7 py-1
  }

  .text p { @apply py-1 leading-5 text-gray-600 text-justify}

  .text a { @apply text-[16px] text-purple hover:underline font-semibold}

  .text img { @apply w-full my-8 mx-auto}

  .card-title {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .card-content {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}